In [73]:
#data import paths

import os
import pandas as pd
import numpy as np

if os.name == 'nt':
    windows = True
elif os.name == 'posix':
    windows = False

if windows:
    grip_ngrip_depths = "E:/GitHub/BICC/Paleochrono/BICC2025/raw data/WDC-NGRIP Link Interpolation/GICC_AgeLinks.xls"
    grip_wdc_links = "E:/GitHub/BICC/Paleochrono/BICC2025/raw data/WDC-NGRIP Link Interpolation/GRIP_WDC_TephraLinks.xlsx"
else:
    pass

In [74]:
grip_ngrip_depths = pd.read_excel(grip_ngrip_depths, comment="#", skiprows=5, sheet_name=0, usecols=[2,3,4], names=["NGRIP1_Depth", "NGRIP2_Depth", "GRIP_Depth"])

ngrip1_grip_links = grip_ngrip_depths[["NGRIP1_Depth", "GRIP_Depth"]]
ngrip1_grip_links = ngrip1_grip_links.dropna()

ngrip2_grip_links = grip_ngrip_depths[["NGRIP2_Depth", "GRIP_Depth"]]
ngrip2_grip_links = ngrip2_grip_links.dropna()

grip_wdc_links = pd.read_excel(grip_wdc_links, comment="#", skiprows=29, sheet_name=0, usecols=[0,1], names=["WDC_Depth", "GRIP_Depth"])
grip_wdc_links = grip_wdc_links.dropna()

In [ ]:
ngrip1_wdc_links = np.interp(grip_wdc_links["GRIP_Depth"], ngrip1_grip_links["GRIP_Depth"], ngrip1_grip_links["NGRIP1_Depth"])
ngrip2_wdc_links = np.interp(grip_wdc_links["GRIP_Depth"], ngrip2_grip_links["GRIP_Depth"], ngrip2_grip_links["NGRIP2_Depth"])

#trim, this is done by hand but could actually make it auto if its important
ngrip1_wdc_links[77:] = np.nan
ngrip2_wdc_links[0:76] = np.nan

export = {
    "#GRIP_Depth": grip_wdc_links["GRIP_Depth"],
    "WDC_Depth": grip_wdc_links["WDC_Depth"],
    "NGRIP1_Depth": ngrip1_wdc_links,
    "NGRIP2_Depth": ngrip2_wdc_links
}

export = pd.DataFrame(export)
export.to_excel("E:/GitHub/BICC/Paleochrono/BICC2025/raw data/WDC-NGRIP Link Interpolation/EXPORT_GRIP_WDC_NGRIP_Links.xlsx", index=False)

In [ ]:
##new Jul 16 2025 for multi-NGRIP

In [26]:
#load the data

import os
import pandas as pd
import numpy as np

os.chdir('/Users/quinnmackay/Documents/GitHub/paleochrono/BICC2025/raw data/WDC-NGRIP Link Interpolation/')

gicc05_scale = pd.read_csv('GICC05 data/datasets/GICC05_time_scale.tab', skiprows=39, delimiter='\t')

gicc21_scale = pd.read_excel('GICC05-GICC21 Conversion.xlsx', sheet_name=1, skiprows=1, 
                             names=['Age b2k', 'dt yrs', 'yrs CE/BCE', 'EGRIP m', 'NEEM m', 
                                    'NGRIP1 m', 'NGRIP2 m', 'NEEM2011-S1 m', 'GRIP m', 
                                    'DYE3-79 m', 'DYE3-4B m', 'DYE3-18C m'])

grip_wdc_tephra = pd.read_excel('GRIP_WDC_TephraLinks.xlsx', skiprows=29, names=['WDC m', 'GRIP m', "WD2014 age iso", 'WD2014 age yr bp 1950', 'GICC05 age', 'age diff yr', 'GRIP dz/dt', 'distance', 'type'], usecols = range(9))

In [27]:
grip_wdc_tephra

,WDC m,GRIP m,WD2014 age iso,WD2014 age yr bp 1950,GICC05 age,age diff yr,GRIP dz/dt,distance,type
0,139.13650,139.38390,1477.0000,473.0000,472.80571,0.19429,NaN,NaN,Bardarbunga 1477
1,142.90114,143.15456,1459.5048,490.4952,490.17444,0.32076,0.215525,17.4952,Volcano
2,182.41005,181.31995,1286.7396,663.2604,662.91612,0.34428,0.220909,172.7652,Volcano
3,188.45998,187.29059,1259.2219,690.7781,690.72086,0.05724,0.216975,27.5177,Volcano
4,208.83713,205.99640,1172.3096,777.6904,780.85505,-3.16465,0.215226,86.9123,Volcano
...,...,...,...,...,...,...,...,...,...
93,1884.19680,1574.65890,-8886.0860,10836.0860,10908.12945,-72.04345,0.073302,338.6850,Volcano
94,1885.94640,1575.82780,-8903.3410,10853.3410,10925.27309,-71.93209,0.067743,17.2550,Volcano
95,1919.08130,1598.90120,-9223.3240,11173.3240,11255.74473,-82.42073,0.072108,319.9830,Volcano
96,1937.68330,1609.40660,-9392.8820,11342.8820,11422.93818,-80.05618,0.061958,169.5580,Volcano
97,1948.50110,1615.62460,-9489.1455,11439.1455,11519.49345,-80.34795,0.064594,96.2635,Volcano